<h1>Listing prategories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
  </tr>

<% for prategory in @prategories %>
  <tr>
    <td><%=h prategory.name %></td>
    <td><%=h prategory.parent_id %></td>
        <td><%= link_to 'Show', [:admin, prategory] %></td>
        <td><%= link_to 'Edit', edit_admin_prategory_path(prategory) %></td>
        <td><%= link_to 'Destroy', [:admin, prategory], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New prategory', new_admin_prategory_path %> <br />
    <%= render :partial => "admin/partials/menu" -%>
