<h1>Listing products</h1>
<%= will_paginate @products %>
<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th>Url</th>
    <th>Image</th>
    <th>Description</th>
  </tr>

<% for product in @products %>
  <tr>
    <td><%=h product.company %></td>
    <td><%=h product.name %></td>
    <td><%=h product.url %></td>
    <td><%=h product.image %></td>
    <td><%=h product.description %></td>
    <td><%= link_to 'Show', [:admin, product] %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', [:admin, product], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_admin_product_path %> <br />
<%= render :partial => "admin/partials/menu" -%>
