<h1>Listing stickies</h1>

<table>
  <tr>
    <th>Body</th>
    <th>User</th>
  </tr>

<% for stickie in @stickies %>
  <tr>
    <td><%=h stickie.body %></td>
    <td><%=h stickie.user_id %></td>
    <td><%= link_to 'Show', stickie %></td>
    <td><%= link_to 'Edit', edit_stickie_path(stickie) %></td>
    <td><%= link_to 'Destroy', stickie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stickie', new_stickie_path %>
