<h1>New stickie</h1>

<%= error_messages_for :stickie %>

<% form_for(@stickie) do |f| %>
  <p>
    <b>Body</b><br />
    <%= f.text_field :body %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', stickies_path %>
