<h1>Listing adverts</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Image</th>
    <th>Image Two</th>
  </tr>

<% for advert in @adverts %>
  <tr>
    <td><%=h advert.url %></td>
    <td><%=h advert.image %></td>
    <td><%=h advert.imagetwo %></td>
    <td><%= link_to 'Show',[:admin, advert] %></td>
    <td><%= link_to 'Edit', edit_admin_advert_path(advert) %></td>
    <td><%= link_to 'Destroy', [:admin, advert], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New advert', new_admin_advert_path %><br />
<%= render :partial => "admin/partials/menu" -%>
