<h1>Listing adverts</h1>

<table>
  <tr>
	<th>Name</th>
	<th>Ad Size</th>
	<th>Ad Count</th>
	<th>Ad Limit</th>
	<th>Functions</th>
  </tr>

<% for advert in @adverts %>
  <tr>
    <td><%= link_to advert.name, edit_admin_advert_path(advert) %></td>
	<td><%=h advert.size %></td>
	<td><%=h advert.ad_count %></td>
	<td><%=h advert.ad_count_limit %></td>
    <td><%= link_to 'Delete?', [:admin, advert], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New advert', new_admin_advert_path %><br />
<%= render :partial => "admin/partials/menu" -%>
