<h1>New advert</h1>

<%= error_messages_for :advert %>

<% form_for([:admin, @advert]) do |f| %>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Image</b><br />
    <%= f.text_field :image %>
  </p>

  <p>
    <b>Image</b><br />
    <%= f.text_field :imagetwo %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_adverts_path %>
