<p>
  <b>Url:</b>
  <%=h @advert.url %>
</p>

<p>
  <b>Image:</b>
  <%=h @advert.image %>
</p>
<p>
  <b>Image after tag:</b>
  <%=h @advert.imagetwo %>
</p>

<%= link_to 'Edit', edit_admin_advert_path(@advert) %> |
<%= link_to 'Back', admin_adverts_path %>
